<!-- DataInputForm_Failure.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Data Input submission failed!!!</title>
    <style>
        .center-text {
            text-align: center;
        }
        .flex-container {
            display: flex;
        }
        .half_width {
            width: 50%; /* Set the width to 50% of the container */
        }
    </style>
</head>
<body>
    <h1 class="center-text">Data Input submission failed:</h1>
    <h1 class="center-text">Patient ID {{ patient_id }} doesn't match the Patient ID in Spectral Data File!!!</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <h2 class="center-text">
                <div class="flex-container">
                    <div class="half_width">
                        <a href="../../uploader/data_input/" class="btn btn-primary">Try to submit patient data again?</a>
                    </div>
                    <a href="../../home/" class="btn btn-secondary">Back to home page</a>
                </div>
            </h2>
        
        </form>
    </div>
</body>
</html>
