<!-- DataInputForm.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Data Input Form</title>
    <style>
        .center-text {
            text-align: center;
        }
        .form-field {
            margin-bottom: 20px; /* Add a margin at the bottom */
        }
        .flex-container {
            display: flex;
        }
        .half_width {
            width: 50%; /* Set the width to 50% of the container */
        }
    </style>
</head>
<body>
    <h1 class="center-text">Submit new patient data:</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="center-text">
                <div class="form-field" class="fieldWrapper">
                    <label for="{{ form.patient_id.id_for_label }}">Patient ID:</label>
                    {{ form.patient_id }}
                    {{ form.patient_id.errors }}
                </div>
                <div class="form-field">
                    <button type="submit">Search for existing patient</button>
                </div>
            </div>

            <div class="flex-container">

                <div class="half_width">
                    {% for field in form %}
                        {% if forloop.counter <= 15 and field.name != "patient_id" and field.name != "spectral_data" %}
                            <div class="form-field" class="fieldWrapper">
                                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                {{ field }}
                                {{ field.value }}
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="half_width">
                    {% for field in form %}
                        {% if forloop.counter > 15 %}
                            {% if forloop.counter|divisibleby:13 %}
                                </div><div class="half_width" class="fieldWrapper">
                            {% endif %}
                            <div class="form-field">
                                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                {{ field }}
                                {{ field.value }}
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>

            <div class="center-text">
                <div class="form-field" class="fieldWrapper">
                    <label for="{{ form.spectral_data.id_for_label }}">Spectral Data File:</label>
                    {{ form.spectral_data }}
                    {{ form.spectral_data.value }}
                    {{ form.spectral_data.errors }}
                </div>
                <button type="submit">Update</button>
                {% if form.errors %}
                    <div style=";color:red;">{{ form.errors }}.</div>
                {% endif %}
            </div>
        </form>
    </div>
</body>
</html>
