<!-- DataInputForm.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Data Search Form</title>
    <style>
        .center-text {
            text-align: center;
        }
        .form-field {
            margin-bottom: 20px; /* Add a margin at the bottom */
        }
        .flex-container {
            display: flex;
        }
        .half_width {
            width: 50%; /* Set the width to 50% of the container */
        }
    </style>
</head>
<body>
    <h1 class="center-text">Search existing patient data:</h1>
    <div>
        <form method="get" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="center-text">
                <div class="form-field" class="fieldWrapper">
                    <label for="{{ form.patient_id.id_for_label }}">Patient ID:</label>
                    {{ form.patient_id }}
                    {{ form.patient_id.errors }}
                </div>
                <div class="form-field">
                    <button type="submit">Search for existing patient</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
