{% load static %}

<!DOCTYPE html>

<html lang="en-us" dir="ltr" data-theme="auto"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Home landing page</title>
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="./static/dark_mode.css">
<script src="./static/theme.js" defer=""></script>
<link rel="stylesheet" href="./static/nav_sidebar.css">
<script src="./static/nav_sidebar.js" defer=""></script>
<link rel="stylesheet" href="./static/dashboard.css">

<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="./static/responsive.css">

<meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=" dashboard" data-admin-utc-offset="-18000">
<a href="http://127.0.0.1:8000/admin/#content-start" class="skip-to-content-link">Skip to main content</a>
<!-- Container -->
<div id="container">  
    <!-- Header -->
    <div id="header">
        <div id="branding"> 
            <h1 id="site-name"><a href="http://127.0.0.1:8000/home/">BioSpectral Repository</a></h1>
        </div> 
    </div>
    <!-- END Header -->
    
    <div class="main" id="main">
      <div id="content-start" class="content" tabindex="-1">
        <!-- Content -->
        <div id="content" class="colMS">
          <h1>Explore our content:</h1>

          
<div id="content-main">
  
    <div class="admin module">
      <table>
        <caption>
          <a href="../admin/" class="section" title="Admin Page">Admin Page</a>
        </caption>
        <tbody>
            <tr class="model-group">
              <th scope="row">For Admin use only</a></th>
            </tr>
        </tbody>
      </table>
    </div>
  
    <div class="app-explorer module">
        <table>
          <caption>
            <a href="../explorer/" class="section" title="SQL Explorer">SQL Explorer</a>
          </caption>
          <tbody>
              <tr class="model-group">
                <th scope="row">Place your Query here</a></th>
              </tr>
          </tbody>
        </table>
    </div>
  
    <div class="app-uploader module">
        <table>
        <caption>
          <a href="../uploader/data_input/" class="section" title="Data Input form">Data Input form</a>
        </caption>
            <tbody>
              <tr class="model-biosample">
                <th scope="row">Insert the patient's data</a></th>
              </tr>
            </tbody>
        </table>
    </div>
  
    <div class="owner module">
        <table>
          <caption>
            <a href="https://schmidtsciencefellows.org/fellow/alvaro-fernandez-galiana/" class="section" title="About us">About us</a>
          </caption>
          <tbody>
            <tr class="model-biosample">
              <th scope="row">The research group's website</a></th>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="SSEC module">
        <table>
          <caption>
            <a href="https://ai.jhu.edu/ssec/about/" class="section" title="Technical Support">Technical Support</a>
          </caption>
            <tbody>
              <tr class="model-biosample">
                <th scope="row">Scientiic Software Engineering Center</a></th>
            </tr>
          </tbody>
        </table>
    </div>

    </a></caption> </table> </div></div>

          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->

</body></html>